<!--Login Section-->
<div id="login-section" class="col-md-6">

    <div id="login-form">
        <form class="form-inline">
            <div class="form-group">
                <label class="control-label">Member ID</label>
                <input type="text" class="form-control" id="member-id-attempt"><br>
            </div>
            <input id="login-submit" class="btn" type="submit" routerLink="/logged-in-home">
        </form>
    </div>
    <br>
    <div>
        <button class="btn" routerLink="/join-form">
            Not a member yet? Join us!
        </button>
    </div>
</div>
