<!--Member Home Section-->
<div id="member-home-section" class="container-fluid">
    <!--Renew-->
    <div class="col-sm-6 col-md-3">
        <div id="join" class="img-responsive img-circle">
            <a href="https://support.missouribotanicalgarden.org/pages/membership/membership-form">
                RENEW
            </a>
        </div>
    </div>
    <!--Give a Gift Membership-->
    <div class="col-sm-6 col-md-3">
        <div id="gift-membership" class="img-responsive img-circle">
            <a href="https://support.missouribotanicalgarden.org/giftmembership">
                GIVE A GIFT MEMBERSHIP
            </a>
        </div>
    </div>
    <!-- FAQs -->
    <div class="col-sm-6 col-md-3">
        <div id="faqs" class="img-responsive img-circle">
            <a id="home-faqs-btn">
                MEMBER BENEFITS AND FAQS
            </a>
        </div>

    </div>
    <!--Member Events-->
    <div class="col-sm-6 col-md-3">
        <div id="events-bubble" class="img-responsive img-circle">
            <a (click)="clicked()" id="home-events-btn">
                MEMBER EVENTS
            </a>
        </div>
    </div>
</div>

<div *ngIf="show" class="container=fluid">
    <app-events-calendar></app-events-calendar>
</div>
