

#member-home-section{
    padding-top: 20%;
}

#join{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(http://www.missouribotanicalgarden.org/Portals/0/Calendar%20Images/MBG/garden_CMT_390.jpg);
    background-size: cover;
    height:250px;
    max-width: 250px;
    text-align: center;
    font-size: x-large;
    padding-top: 100px;
    text-shadow: 3px 3px 3px black;
}

#join a{
    color: #c9d7b2;
    padding-top: 50%;
}
#gift-membership{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(http://www.missouribotanicalgarden.org/Portals/0/Sustainability/images/Headers/header_sunflowers.jpg);
    background-size: cover;
    height:250px;
    max-width: 250px;
    text-align: center;
    font-size: x-large;
    padding-top: 100px;
    text-shadow: 3px 3px 3px black;
}

#gift-membership a{
    color: #c9d7b2;
}

#faqs{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(http://www.missouribotanicalgarden.org/Portals/0/Gardens/Demonstration%20Garden/5857169050_d670ed2221_m.jpg);
    background-size: cover;
    height:250px;
    max-width: 250px;
    text-align: center;
    font-size: x-large;
    padding-top: 100px;
    text-shadow: 3px 3px 3px black;
}

#faqs a{
    color: #c9d7b2;
}

#events-bubble{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(http://www.missouribotanicalgarden.org/Portals/0/Calendar%20Images/BH/Heliconius-sapho_260.jpg);
    background-size: cover;
    height:250px;
    max-width: 250px;
    text-align: center;
    font-size: x-large;
    padding-top: 100px;
    text-shadow: 3px 3px 3px black;
}

#events-bubble a{
    color: #c9d7b2;
}
