.navbar{
    background-color: white;
}

.navbar.navbar-fixed-top{
    height: 85px;
    min-height: 85px;
    box-shadow: 0 2px 10px rgba(1,1,1,.2);
}

* {
    color: #295307;
}

#contact-us-section h2 {
    font-size: 3vw;
}

#contact-us-section h3 {
    font-size: 2vw;
}

#contact-us-section li {
    font-size: 2vw;
}

#contact-us-section{
    padding-top: 10%;
    text-shadow: 1px 1px 1px #c9d7b2;
}

.navbar li {
    float: right;
}
